 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
 }
 
 .fullpage {
  display: flex;
  background-image: url('/bg6.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  
}

.container {
  width: 400px;
  margin: auto auto;
  padding: 2rem;
  border: 1px solid #ff0080;
  border-radius: 8px;
  background-color: #222222;
  text-align: center;
  
}

.title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color:  #ff0080;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ff0080;
  background-color: rgb(190, 186, 186);
  
}

.button {
  background-color: #ff0080;
  color: white;
  border: none;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  color:  #ff0080;;
  background-color: #393E46;
  
}

.linkText {
  margin-top: 1rem;
  font-size: 0.95rem;
  color: #ff0080;
}
.linkText a {
  color: white;
}

.linkText a:hover {
  color: gray;
}
