.body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  gap: 40px;
  background-color: #111;
  padding: 20px;
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
  
}

.trend {
  display: flex;
  margin-top: 8.5vh;
  width: 100%;
  height: 40vh;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 12px 20px;
  margin-bottom: 24px;
  /* background-color: blue; */
}

.newPost {
  width: 50vw;
  height: 40vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieCard {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section1 {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.heading1 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.heading1:hover {
  color: #ff0080;
}

/* Make each category independently scrollable */
.container {
  margin-top: 2vh;
  display: flex;
  background-color: black;
  width: 100%;
  overflow-x: auto; /* Enable independent horizontal scrolling */
  padding: 10px 5px 20px 5px;
  gap: 5px;
  border-radius: 8px;
  flex-direction: row;
  white-space: nowrap; /* Prevent wrapping */
  scrollbar-width: none; /* Hide scrollbar */
}

/* Hide scrollbar for WebKit browsers */
.container::-webkit-scrollbar {
  display: none;
}

.mcard {
  flex-shrink: 0; /* Prevent shrinking */
  margin-top: 10px;
  border-radius: 10px;
  margin-right: 1vw;
  width: 23vw;
  height: 19vh;
  
  
}

.poster {
  width: 100%;
  height: 100%;
  object-fit:fill;
  
  border-radius: 0.5vw;
}

/* Hover Effect */
.mcard:hover {
  transform: scale(1.4) rotate(0deg);
  z-index: 10;
}

.mcard:hover .poster {
  transform: scale(1.0);
  filter: brightness(1.0);
  z-index: 10;
}

.shift{
  color: #ff0080;
  background-color: white;
  
}
.shift:hover {
  color: white;
  background-color: #ff0080;
}