.navbar{
  width: 100vw;
  display: flex;
  align-items: center;
  position: sticky;
  top: -50;
  left: 0;
  right: 0;
  z-index: 1000; 
  padding: 10px 20px;
  height: 10vh;
  background-color: black;
}
body, html {
  margin: 0;
  padding: 0;
  
}
.navbar ul {
  display: flex;
 
  align-items: center;
  text-align: center;
  justify-content: center;
  
  margin-right: 0px;
}
.navbar ul li {
  text-decoration: none;
  list-style: none;
  color: #fff;
  margin-right: 5vw;
  
}
.navbar ul li:hover {
  color: #ff0080;
}
.logo{
  margin-right: 5vw;
  font-size: 20px; 
  font-weight: bold;
  text-align: center;
  color: #fff;
  position: relative;
  text-shadow: 0 0 5px #ff0080, 0 0 10px #ff0080, 0 0 20px #ff0080, 0 0 40px #ff0080;
  animation: flicker 1.5s infinite alternate;
  background-color: black;
}
  
  
  .right{
    text-align: center;
    justify-content: center;
    display: flex;
    margin-right: 1.5vw;
    margin-left: 13vw;
    margin-top: 0;
    width: 29vw;
    height: 3.0vw;
    /* background-color: bisque; */
  }
  .languageSelector{
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-right: 5vw;
    margin-left: 1vw;
    border-radius: 2px;
  }

  .signin{
    background-color: #ce1370;
    font-weight: bold;
    color: #fff;
    font-family: "Winky Sans", sans-serif;
    text-align: center;
    justify-content: center;
    margin-left: 3vw;
    border-radius: 8px;
    height: 2.5vw;
    width: 8vw;
    margin-top: 1.5px;
    
    /* margin-right: 4p2vw; */
  }
  
  /*.navbar ul {
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    margin-right: 5vw;
  }
  
  .right{
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 7vw;
  }
  .languageSelector{
    margin-top: 15px;
    padding: 5px 5px;
    border-radius: 8px;
    margin-right: 2vw;
    margin-left: 16px;
  }
  .signin{
    margin-bottom: 35px;
    margin-right: 0px;
    margin-left: 14px;
  }
}
 */
