.navbar{

  width: 100vw;
  display: flex;
  align-items: center;
  position: sticky;
  top: -50;
  left: 100px;
  right: 0;
  z-index: 1000; 
  height: 10vh;
  background-color: black;
}

.navbar ul {
  margin-left: 0vw;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-right: 10vw;
  /* background-color: brown; */
}
.navbar ul li {
  text-decoration: none;
  list-style: none;
  color: #fff;
  margin-left: 4vw;
  font-size: x-large; 
  
}
.navbar ul li:hover {
  color: #ff0080;
}
.logo{
  margin-right: 1vw;
  margin-left: 4vw;
  font-size: 30px; 
  font-weight: bold;
  text-align: center;
  color: #fff;
  position: relative;
  text-shadow: 0 0 5px #ff0080, 0 0 10px #ff0080, 0 0 20px #ff0080, 0 0 40px #ff0080;
  animation: flicker 1.5s infinite alternate;
  background-color: black;
}
  
  
  .right{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 3vw;
    margin-right: 0vw;
    margin-top: 0;
    width: 20vw;
    height: 35px;
    /* background-color: bisque; */
    
  }
  .languageDropdown {
   border-radius: 2px;
    height: 27px;
    width: 8vw;
}


  .btn{
    background-color: #ce1370;
    font-weight: bold;
    color: #fff;
    font-family: "Winky Sans", sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 3vw;
    border-radius: 10px;
    height: 35px;
    width: 105px;
    
    /* margin-right: 4p2vw; */
  }
  
  /*.navbar ul {
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    margin-right: 5vw;
  }
  
  .right{
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 7vw;
  }
  .languageSelector{
    margin-top: 15px;
    padding: 5px 5px;
    border-radius: 8px;
    margin-right: 2vw;
    margin-left: 16px;
  }
  .signin{
    margin-bottom: 35px;
    margin-right: 0px;
    margin-left: 14px;
  }
}
 */
